h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: dimgrey;
  letter-spacing: 0.0625em;
  font-size: 36px;
}

/* div {
  background-color: lightblue;
} */

.pixel {
  background-color: aliceblue;
  border: 1px solid silver;
  height: 24px;
  width: 24px;
}

.paletteColor {
  padding: 12px 12px 12px 12px;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 12px;
  border-radius: 8px;
  border: solid #808B96 1px
}

.currentBrushColor {
  padding: 12px 12px 12px 12px;
  margin-right: 5px;
  width: 12px;
  border-radius: 8px;
  border: solid #808B96 1px
}

.black {
  background-color: 'black';
  border-color: 'black';
}

#canvas {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 622px;
  border-radius: 25px;
  border: solid #808B96 20px;
  padding: 5px;
}

#palette {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
